<ion-split-pane contentId="mainContent">

  <ion-menu contentId="mainContent" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-item class="logo"><img src="../../assets/logowhite.png"/></ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu">
    <ion-list>
      <ion-item>
        <ion-router-link class="menuitem" href="../dashboard/">Home</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-router-link class="selected" href="/attendance">Attendance</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-router-link class="menuitem" href="../dashboard/">Departments</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-router-link class="menuitem" href="../dashboard/">Timetable</ion-router-link>
      </ion-item>
    </ion-list>
  </ion-content>
   <!-- write your menu content here-->
</ion-menu>
<div class="ion-page" id = "mainContent" main>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <div class="centerSection">
        <h1 class="">Attendance Summary</h1>
        <ion-card>      
          <ion-card-content>
            <ion-button (click)="callService()">  Click to show dynamic results </ion-button>
          </ion-card-content>
        </ion-card>
        <ion-grid>
        <ion-row class="header attendanceGrid">
          <ion-col> {{header.name}} </ion-col>
          <ion-col> {{header.period}} </ion-col>
          <ion-col> {{header.logindate}} </ion-col>
          <ion-col> {{header.logintime}} </ion-col>
        </ion-row>
        <ion-row class="rowsdata attendanceGrid" *ngFor="let datum of data">
          <ion-col> {{datum.name}} </ion-col>
          <ion-col> {{datum.period}} </ion-col>
          <ion-col> {{datum.logindate}} </ion-col>
          <ion-col> {{datum.logintime}} </ion-col>
        </ion-row>
      </ion-grid>
      </div>
     </ion-buttons>
         
</div>