<ion-split-pane contentId="mainContent">

  <ion-menu contentId="mainContent" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-item class="logo"><img src="../../assets/logowhite.png" /></ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu">
      <ion-list>
        <ion-item>
          <ion-router-link class="menuitem" href="../../dashboard/">Home</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-router-link class="selected" href="#">Attendance</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-router-link class="menuitem" href="../periods/">Change Periods</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-router-link class="menuitem" href="../timetable/">Timetable</ion-router-link>
        </ion-item>
      </ion-list>
    </ion-content>
    <!-- write your menu content here-->
  </ion-menu>
  <div class="ion-page" id="mainContent" main>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <div class="centerSection">
        <h1 class="">Attendance Summary</h1>

        <ion-card >
          <ion-card-content >

            <ion-item class="dropdown">
              <ion-label class="options">Select a user</ion-label>
              <ion-select  (ionChange)="userid = $event.target.value">
                <ng-container class="options" *ngFor="let user of users">
                  <ion-select-option  [value]="user.userid">{{user.userid}} - {{user.name}} </ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>


            <ion-item class="dropdown">
              <ion-label class="options">Select a month</ion-label>
              <ion-select interface="popover" (ionChange)="month = $event.target.value">
                
                  <ion-select-option  [value]="1">January</ion-select-option>
                  <ion-select-option  [value]="2">February</ion-select-option>
                  <ion-select-option  [value]="3">March</ion-select-option>
                  <ion-select-option  [value]="4">April</ion-select-option>
                  <ion-select-option  [value]="5">May</ion-select-option>
                  <ion-select-option  [value]="6">June</ion-select-option>
                  <ion-select-option  [value]="7">July</ion-select-option>
                  <ion-select-option  [value]="8">August</ion-select-option>
                  <ion-select-option  [value]="9">September</ion-select-option>
                  <ion-select-option  [value]="10">October</ion-select-option>
                  <ion-select-option  [value]="11">November</ion-select-option>
                  <ion-select-option  [value]="12">December</ion-select-option>
                
              </ion-select>
            </ion-item>
            <!-- <ion-item>
              <ion-label class="options" position="floating">Month</ion-label>
              <ion-input [(ngModel)]="month"></ion-input>
            </ion-item> -->
            <!-- <ion-item>
              <ion-label class="options" position="floating">Year</ion-label>
              <ion-input [(ngModel)]="year"></ion-input>
            </ion-item> -->

            <ion-item class="dropdown">
              <ion-label class="options">Select a year</ion-label>
              <ion-select interface="popover"  (ionChange)="year = $event.target.value" value="2021">
                
                  <ion-select-option  [value]="2020">2020</ion-select-option>
                  <ion-select-option  [value]="2021">2021</ion-select-option>
                  <ion-select-option  [value]="2022">2022</ion-select-option>
                  <ion-select-option  [value]="2023">2023</ion-select-option>
                  <ion-select-option  [value]="2024">2024</ion-select-option>
                  <ion-select-option  [value]="2025">2025</ion-select-option>
                  <ion-select-option  [value]="2026">2026</ion-select-option>
                
              </ion-select>
            </ion-item>

            <ion-button class="fetchData" fill="solid" color="primary" (click)="callService()"> Get Attendance Data
            </ion-button>

          </ion-card-content>
          <ion-progress-bar type="indeterminate" *ngIf="startloader"></ion-progress-bar>
        </ion-card>

          <div *ngIf="AbsenceSummary" style="padding: 10px; background-color:rgb(183, 247, 207)">
            <h1 class="username"  *ngIf="AbsenceSummary"> {{selectedUser}} </h1>
          </div>
          <h3 class="userspecific" *ngIf="AbsenceSummary"> Details of Attendance </h3> 

        <ion-grid *ngIf="AbsenceSummary">
        <ion-row class="AbsenceSummary">
          <ion-col> Days Present: <span class="magnitude"> {{AbsenceSummary.dayspresent}} </span> </ion-col>
          <ion-col> Days Absent: <span class="magnitude"> {{AbsenceSummary.daysabsent}} </span> </ion-col>
          <ion-col> Holidays (Friday): <span class="magnitude"> {{AbsenceSummary.noOfFridays}} </span> </ion-col>
        </ion-row>
        <ion-row class="AbsenceSummary">
          <ion-col> Total Working Days: <span class="magnitude">  {{AbsenceSummary.totalWorkDays}} </span> </ion-col>
          <ion-col> Total Days Late: <span class="magnitude">  {{AbsenceSummary.daysLate}} </span> </ion-col>
          <ion-col>  </ion-col>
        </ion-row>
        
        </ion-grid>

        <h3 class="userspecific"  *ngIf="AbsenceSummary"> Complete Data </h3>

          <ion-grid *ngIf="AbsenceSummary">
          <ion-row class="header attendanceGrid">
            <!-- <ion-col> {{header.name}} </ion-col> -->
            <ion-col> {{header.logindate}} </ion-col>
            <ion-col> {{header.logintime}} </ion-col>
            <ion-col> {{header.period}} </ion-col>
            <ion-col> {{header.status}} </ion-col>
            <ion-col> {{header.minuteslate}} </ion-col>
          </ion-row>
          <div class="datagrid">
            <ion-row class="rowsdata attendanceGrid" *ngFor="let datum of data">
              <!-- <ion-col> {{datum.name}} </ion-col> -->
              <ion-col> {{datum.logindate}} </ion-col>
              <ion-col> {{datum.logintime}} </ion-col>
              <ion-col> {{datum.period}} </ion-col>
              <ion-col *ngIf="datum.status === 'Late'" class="late"> {{datum.status}} </ion-col>
              <ion-col *ngIf="datum.status === 'On time'" class="onTime"> {{datum.status}} </ion-col>
              <ion-col> {{datum.minuteslateinhours}} </ion-col>

            </ion-row>
          </div>
        </ion-grid>

      </div>
    </ion-buttons>

  </div>