/* Ma-allim Color Pallette */
$mPrimary: #2589BD;
$mSecondary: #A3B4A2;
$mBackground: #f3eedc;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    font-family: 'Inter', sans-serif;
}