<ion-split-pane contentId="mainContent">

  <ion-menu contentId="mainContent" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-item class="logo"><img src="../../assets/logowhite.png"/></ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-router-link class="selected" href="#">Home</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-router-link class="menuitem" href="./attendance">Attendance</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-router-link class="menuitem" href="./periods/">Change Periods</ion-router-link>
      </ion-item>
      <ion-item>
        <ion-router-link class="menuitem" href="./timetable/">Timetable</ion-router-link>
      </ion-item>
    </ion-list>
  </ion-content>
   <!-- write your menu content here-->
   
</ion-menu>     
<div class="ion-page" id = "mainContent" main>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <div class="centerSection">
          <div class="verticalHorizontalAlign">
          <ion-item ><img src="../../assets/logowhite.png"/></ion-item>
          <br/><br/><br/>
        <h1 class="urduheading">معلم پورٹل آپ کو اپنے ادارہ کی حاضری کا ڈیٹا مؤثر طریقے سے جمع کرنے میں مدد کرتا ہے۔
        </h1>
        </div>
      </div>
     </ion-buttons>

</div>