<ion-split-pane contentId="mainContent">

  <ion-menu contentId="mainContent" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-item class="logo"><img src="../../assets/logowhite.png"/></ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
        <ion-item>
          <ion-router-link class="menuitem" href="../../dashboard/">Home</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-router-link class="menuitem" href="../attendance/">Attendance</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-router-link class="menuitem" href="../periods/">Change Periods</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-router-link class="menuitem" href="../timetable/">Timetable</ion-router-link>
        </ion-item>
        <ion-item>
          <ion-router-link class="selected" href="#">Machines</ion-router-link>
        </ion-item>
      </ion-list>
  </ion-content>
   <!-- write your menu content here-->
</ion-menu>     
<div class="ion-page" id = "mainContent" main>
     <ion-buttons slot="start">      
        <ion-menu-button></ion-menu-button>
        <div class="centerSection">
        
        <h2>All Machines are listed here</h2>
        
        <ion-grid>
          <ion-row class="header attendanceGrid">
            <ion-col> MACHINE NAME </ion-col>
          </ion-row>
          <div class="datagrid">
            <ion-row class="rowsdata-empty attendanceGrid" *ngIf="!machines?.length">
              <ion-col>No machines added</ion-col>
            </ion-row>
            <ion-row class="rowsdata attendanceGrid" *ngFor="let machine of machines">
              <ion-col> {{machine.machine_name}} </ion-col>
              <ion-col>
                <ion-button fill="solid" color="danger" (click)="deleteMachine(machine.machine_id)"> DELETE
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <br>
              <h2>Add New Machines</h2>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input class="inputFormatting fixedHeight" type="text" placeholder="Type machine name here.." [(ngModel)]="addedMachine"> </ion-input>
              </ion-col>
              <ion-col>
                <ion-button class="fetchData fixedHeight" fill="solid" color="primary" (click)="addNewMachine()"> Add </ion-button>
              </ion-col>
            </ion-row>

          </div>
        </ion-grid>
      </div>
     </ion-buttons>
</div>